## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
doc/
.yardoc/

## PROJECT::SPECIFIC
.bundle
.ruby-version
Gemfile.lock
spec/custom_weasyprint_path.rb
spec/test_save.pdf
